* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: tomato;
  padding-top: 2rem;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width : min(90vw, 900px);
  margin: auto;
  padding: 1rem;
  background-color: gold;
  border-radius: 10px;
}

li {
  list-style: none;
  margin-bottom: .2rem;
  min-width: 100%;
}


li > span {
  margin-right: .5rem;
}

ul {
  margin-top: 1rem;
  min-width: 100%;
}

input[type="text"] {
  margin-top: .5rem;
  padding: .5rem;
}

input[type="submit"] {
  margin-left: 1rem;
  padding: .5rem;
}